<h3>Detail of books</h3>
<hr/>
<div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" readonly [value]="book.title" class="form-control">
  </div>
  <div class="form-group">
    <label>Nama Penerbit</label>
    <input type="text" readonly [value]="book.penerbit" class="form-control">
  </div>
  <div class="form-group">
    <label>Nama Pengarang</label>
    <input type="text" readonly [value]="book.pengarang" class="form-control">
  </div>
  <div class="form-group">
    <label>Tanggal publish</label>
    <input type="text" readonly [value]="book.publishDate | date: 'dd MMMM yyyy'" class="form-control">
  </div>
  <div class="form-group" *ngIf="book.categories.length >= 1">
    <label>Kategori buku</label>
    <ul class="list-inline">
      <li *ngFor="let category of book.categories">
        <i class="fa fa-tag"></i>
        {{category.name}}
      </li>
    </ul>
  </div>
</div>

